.top {
  height: 40px;
  background: #f2f2f2;
  border-bottom: 3px solid #e7e7e7; }
  .top .cont {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    line-height: 40px;
    text-align: center; }
    .top .cont:before, .top .cont:after {
      content: " ";
      display: table; }
    .top .cont:after {
      clear: both; }
    .top .cont .title {
      float: left;
      font-size: 12px;
      font-weight: bold; }
    .top .cont .login {
      float: left;
      padding-left: 21px; }
      .top .cont .login a {
        color: #c00;
        margin-left: 5px;
        margin-right: 5px; }
    .top .cont .top-nav {
      float: right; }
      .top .cont .top-nav ul:before, .top .cont .top-nav ul:after {
        content: " ";
        display: table; }
      .top .cont .top-nav ul:after {
        clear: both; }
      .top .cont .top-nav ul li {
        float: left;
        padding-left: 10px;
        padding-right: 10px; }
        .top .cont .top-nav ul li span {
          color: #c00;
          font-weight: bold; }
      .top .cont .top-nav ul .main a {
        color: #c00; }

.head {
  width: 1200px;
  margin-left: auto;
  margin-right: auto; }
  .head:before, .head:after {
    content: " ";
    display: table; }
  .head:after {
    clear: both; }
  .head .logo a {
    float: left; }
  .head .search {
    float: left;
    padding-left: 24px;
    padding-top: 33px; }
    .head .search .search-box {
      border: 1px solid #c00; }
      .head .search .search-box:before, .head .search .search-box:after {
        content: " ";
        display: table; }
      .head .search .search-box:after {
        clear: both; }
      .head .search .search-box input {
        height: 29px;
        line-height: 29px;
        float: left;
        border: none; }
      .head .search .search-box .s-input {
        width: 389px;
        padding-left: 10px;
        outline: none; }
      .head .search .search-box .s-btn {
        width: 78px;
        font-weight: bold;
        color: #fff;
        background-color: #c00; }
    .head .search .hot {
      line-height: 25px; }
      .head .search .hot span {
        display: inline-block;
        vertical-align: top; }
      .head .search .hot ul {
        vertical-align: top;
        display: inline-block; }
        .head .search .hot ul:before, .head .search .hot ul:after {
          content: " ";
          display: table; }
        .head .search .hot ul:after {
          clear: both; }
        .head .search .hot ul li {
          float: left;
          padding: 0 5px; }
  .head .link {
    width: 453px;
    float: left;
    padding-top: 30px; }
    .head .link .list1:before, .head .link .list1:after {
      content: " ";
      display: table; }
    .head .link .list1:after {
      clear: both; }
    .head .link .list1 li {
      float: left;
      line-height: 30px; }
      .head .link .list1 li i {
        display: inline-block;
        width: 37px;
        height: 30px;
        background: url(../img/icon_ts.png) 0 0 no-repeat;
        vertical-align: middle; }
      .head .link .list1 li .bg2 {
        background-position-x: -40px; }
      .head .link .list1 li .bg3 {
        background-position-x: -120px; }
      .head .link .list1 li span {
        font-size: 14px;
        font-weight: bold;
        color: #c00;
        border-bottom: 1px solid;
        padding-right: 6px; }
    .head .link .list2 {
      width: 316px;
      height: 34px;
      margin-top: 10px;
      float: right;
      background-image: url("../img/icon_haiwai.png"); }
      .head .link .list2 li {
        float: left; }
        .head .link .list2 li a {
          display: block;
          width: 150px;
          height: 34px; }

.nav {
  background-color: #c00; }
  .nav a {
    color: #fff; }
  .nav .nav-box {
    position: relative;
    width: 1200px;
    height: 40px;
    margin: 0 auto;
    color: #fff;
    line-height: 40px;
    vertical-align: top; }
    .nav .nav-box h2 {
      display: inline-block;
      vertical-align: middle;
      width: 240px;
      padding-left: 17px;
      padding-right: 10px;
      font-size: 14px; }
      .nav .nav-box h2:before, .nav .nav-box h2:after {
        content: " ";
        display: table; }
      .nav .nav-box h2:after {
        clear: both; }
      .nav .nav-box h2 i {
        float: right;
        font-weight: normal; }
      .nav .nav-box h2:hover .left-menu {
        display: block; }
      .nav .nav-box h2 .left-menu {
        display: none;
        position: absolute;
        top: 40px;
        left: 0;
        float: left;
        font-size: 12px;
        font-weight: normal;
        line-height: 14px;
        background: #fff; }
        .nav .nav-box h2 .left-menu a {
          color: #444; }
        .nav .nav-box h2 .left-menu a:hover {
          color: #c00; }
        .nav .nav-box h2 .left-menu .menu-main {
          border-left: 1px solid #c00;
          border-right: 1px solid #c00; }
        .nav .nav-box h2 .left-menu .list-item {
          width: 238px;
          border-bottom: 1px dashed #dedede; }
          .nav .nav-box h2 .left-menu .list-item .small {
            display: inline-block;
            width: 100%; }
            .nav .nav-box h2 .left-menu .list-item .small h3 {
              padding-left: 11px;
              line-height: 30px;
              background: url(../img/menu_icon.gif) no-repeat right center; }
            .nav .nav-box h2 .left-menu .list-item .small div {
              margin-left: 8px;
              margin-right: 8px;
              padding-left: 3px;
              padding-bottom: 7.5px; }
          .nav .nav-box h2 .left-menu .list-item .big {
            position: absolute;
            top: 0;
            z-index: 1;
            display: inline-block;
            display: none;
            width: 710px;
            height: 419px;
            margin-left: 238px;
            background: #fff4f4; }
            .nav .nav-box h2 .left-menu .list-item .big .left {
              float: left;
              width: 443px;
              padding-left: 32px;
              padding-right: 28px; }
              .nav .nav-box h2 .left-menu .list-item .big .left li {
                line-height: 36px;
                padding-top: 10px;
                padding-bottom: 10px;
                border-bottom: 1px dashed #dedede;
                font-size: 14px;
                font-weight: bold; }
                .nav .nav-box h2 .left-menu .list-item .big .left li a {
                  color: #c00; }
            .nav .nav-box h2 .left-menu .list-item .big .right {
              float: right;
              width: 200px; }
              .nav .nav-box h2 .left-menu .list-item .big .right h4 {
                color: #c00;
                padding-top: 4px;
                line-height: 36px; }
              .nav .nav-box h2 .left-menu .list-item .big .right li {
                float: left;
                line-height: 21px;
                width: 65px; }
          .nav .nav-box h2 .left-menu .list-item:hover {
            background: #fff4f4;
            margin-top: -1px;
            border-top: 1px solid;
            border-bottom: 1px solid;
            border-color: #f34761; }
          .nav .nav-box h2 .left-menu .list-item:hover .big {
            display: block; }
    .nav .nav-box .nav-ul {
      display: inline-block;
      vertical-align: middle;
      font-size: 15px;
      font-weight: bold; }
      .nav .nav-box .nav-ul:before, .nav .nav-box .nav-ul:after {
        content: " ";
        display: table; }
      .nav .nav-box .nav-ul:after {
        clear: both; }
      .nav .nav-box .nav-ul li {
        float: left;
        padding-left: 15px;
        padding-right: 15px; }
    .nav .nav-box .shop-car {
      position: relative;
      float: right;
      padding-right: 30px; }
      .nav .nav-box .shop-car a i {
        display: inline-block;
        vertical-align: -2px;
        width: 21px;
        height: 13px;
        margin-right: 4px;
        background-image: url("../img/icon-common.png");
        background-position: -287px -53px; }
      .nav .nav-box .shop-car:hover .car {
        display: block; }
      .nav .nav-box .shop-car .car {
        display: none;
        width: 327px;
        border: 1px solid #dedede;
        border-radius: 3px;
        color: #444;
        background: #F6F7FB;
        position: absolute;
        top: 40px;
        right: 0;
        z-index: 1; }
        .nav .nav-box .shop-car .car a {
          color: #444; }
        .nav .nav-box .shop-car .car .list li {
          padding: 10px;
          line-height: 60px;
          background: #fff; }
          .nav .nav-box .shop-car .car .list li:before, .nav .nav-box .shop-car .car .list li:after {
            content: " ";
            display: table; }
          .nav .nav-box .shop-car .car .list li:after {
            clear: both; }
          .nav .nav-box .shop-car .car .list li .img, .nav .nav-box .shop-car .car .list li .link, .nav .nav-box .shop-car .car .list li .price, .nav .nav-box .shop-car .car .list li .del {
            float: left; }
          .nav .nav-box .shop-car .car .list li img {
            display: block;
            width: 60px;
            height: 60px; }
          .nav .nav-box .shop-car .car .list li .link, .nav .nav-box .shop-car .car .list li .price, .nav .nav-box .shop-car .car .list li .del {
            padding: 0 10px; }
          .nav .nav-box .shop-car .car .list li .link {
            padding-top: 15px;
            line-height: 14px;
            width: 110px; }
        .nav .nav-box .shop-car .car .pay {
          padding: 10px; }
          .nav .nav-box .shop-car .car .pay:before, .nav .nav-box .shop-car .car .pay:after {
            content: " ";
            display: table; }
          .nav .nav-box .shop-car .car .pay:after {
            clear: both; }
          .nav .nav-box .shop-car .car .pay .total {
            float: left;
            line-height: 20px; }
            .nav .nav-box .shop-car .car .pay .total .money {
              font-weight: bold; }
            .nav .nav-box .shop-car .car .pay .total span {
              color: #c00;
              padding: 0 10px; }
          .nav .nav-box .shop-car .car .pay .pay-btn {
            cursor: pointer;
            float: right;
            width: 130px;
            height: 38px;
            background: url("../img/btn11.gif"); }

.foot {
  background: url(../img/back_t.png) repeat-x center top; }
  .foot a:hover {
    color: #c00;
    text-decoration: underline; }
  .foot .back-to-top {
    width: 1200px;
    margin: 0 auto;
    line-height: 26px;
    text-align: right;
    background: url(../img/go_top_bg.png) no-repeat right bottom; }
    .foot .back-to-top a {
      display: inline-block;
      width: 82px;
      text-align: center; }
  .foot .foot-link {
    width: 1200px;
    margin: 0 auto;
    padding-top: 22px; }
    .foot .foot-link:before, .foot .foot-link:after {
      content: " ";
      display: table; }
    .foot .foot-link:after {
      clear: both; }
    .foot .foot-link .link-block {
      float: left;
      width: 239px;
      height: 160px;
      border-right: 1px dashed #dedede; }
      .foot .foot-link .link-block .title-bg {
        width: 240px;
        height: 40px;
        background: url("../img/foot_img.jpg") no-repeat;
        background-position: 0 0; }
      .foot .foot-link .link-block li {
        margin-left: 54px;
        padding-left: 15px;
        background: url("../img/icon02.png") no-repeat left center;
        line-height: 28px; }
  .foot .link-block-2 {
    float: left;
    width: 240px; }
    .foot .link-block-2 h3 {
      height: 36px;
      line-height: 36px;
      font-size: 24px;
      color: #c00;
      padding-left: 70px;
      padding-top: 30px;
      background: url(../img/phone_bg.png) no-repeat center top; }
      .foot .link-block-2 h3 span {
        font-size: 12px;
        color: #444; }
    .foot .link-block-2 div {
      padding-left: 20px; }
      .foot .link-block-2 div p {
        color: #c00;
        line-height: 35px; }
      .foot .link-block-2 div a {
        display: block;
        text-align: center;
        width: 100px;
        line-height: 23px;
        color: #fff;
        background: url(../img/dy_btn1.png) no-repeat center center; }
  .foot .friend-link {
    width: 1200px;
    margin: 35px auto 0;
    border-top: 1px solid #dedede; }
    .foot .friend-link h3 {
      line-height: 50px;
      color: #666; }
    .foot .friend-link a {
      margin-right: 20px;
      line-height: 25px;
      color: #949494; }
  .foot .copyright {
    background: url(../img/banquan_bg.png) repeat-x center top;
    text-align: center; }
    .foot .copyright ul {
      margin: 20px;
      line-height: 39px; }
      .foot .copyright ul li {
        display: inline-block; }
        .foot .copyright ul li a {
          margin: 0 10px; }
    .foot .copyright p {
      line-height: 25px; }

.position {
  line-height: 44px; }
  .position:before, .position:after {
    content: " ";
    display: table; }
  .position:after {
    clear: both; }
  .position .label {
    float: left;
    padding: 0 10px;
    font-weight: bold; }
  .position ul {
    float: left; }
    .position ul li {
      float: left; }

.detail {
  background: #eff0f0; }
  .detail .detail-box {
    width: 1200px;
    margin: 0 auto; }
    .detail .detail-box:before, .detail .detail-box:after {
      content: " ";
      display: table; }
    .detail .detail-box:after {
      clear: both; }
    .detail .detail-box .left, .detail .detail-box .center, .detail .detail-box .right {
      margin-top: 10px;
      float: left;
      min-height: 300px; }
    .detail .detail-box .left {
      width: 300px;
      margin-right: 10px;
      background: #fff; }
      .detail .detail-box .left .pic {
        margin: 10px; }
        .detail .detail-box .left .pic .small {
          position: relative;
          border: 1px solid #e6e6e6; }
        .detail .detail-box .left .pic .box {
          display: none;
          position: absolute;
          left: 0;
          top: 0;
          width: 100px;
          height: 100px;
          background-color: #333;
          opacity: 0.3; }
        .detail .detail-box .left .pic .small-img {
          display: block;
          width: 100%; }
        .detail .detail-box .left .pic .big {
          position: absolute;
          display: none;
          margin-left: 300px;
          margin-top: -280px;
          width: 280px;
          height: 280px;
          border: 1px solid #e6e6e6;
          overflow: hidden; }
        .detail .detail-box .left .pic .big-img {
          position: absolute;
          top: 0;
          left: 0;
          width: 784px;
          z-index: 1; }
      .detail .detail-box .left .pic-list {
        margin: 10px; }
        .detail .detail-box .left .pic-list img {
          width: 49px;
          height: 49px;
          border: 1px solid #e6e6e6; }
          .detail .detail-box .left .pic-list img:hover {
            border-color: #c00; }
      .detail .detail-box .left .share {
        margin: 10px; }
        .detail .detail-box .left .share:before, .detail .detail-box .left .share:after {
          content: " ";
          display: table; }
        .detail .detail-box .left .share:after {
          clear: both; }
        .detail .detail-box .left .share .datu {
          float: left;
          padding-top: 2px;
          padding-left: 17px;
          background: url(../img/zoom_icon.png) no-repeat left center;
          color: #69F;
          text-decoration: underline; }
        .detail .detail-box .left .share .bshare-custom {
          float: left;
          margin-left: 10px; }
    .detail .detail-box .right {
      width: 200px;
      text-align: center; }
      .detail .detail-box .right .brand {
        padding: 10px;
        background: #fff; }
        .detail .detail-box .right .brand a {
          display: block; }
        .detail .detail-box .right .brand img {
          width: 100%; }
      .detail .detail-box .right .like {
        text-align: left;
        margin: 10px 0;
        padding: 10px;
        background: #fff; }
        .detail .detail-box .right .like h4 {
          padding: 10px 0; }
        .detail .detail-box .right .like .good-like {
          margin: 10px 0; }
          .detail .detail-box .right .like .good-like:before, .detail .detail-box .right .like .good-like:after {
            content: " ";
            display: table; }
          .detail .detail-box .right .like .good-like:after {
            clear: both; }
          .detail .detail-box .right .like .good-like li {
            float: left;
            width: 80px;
            text-align: center;
            padding: 0 5px; }
            .detail .detail-box .right .like .good-like li img {
              width: 80px;
              height: 80px; }
            .detail .detail-box .right .like .good-like li p {
              padding: 10px 5px; }
            .detail .detail-box .right .like .good-like li span {
              padding: 10px 0;
              color: #c00;
              font-weight: bold; }
        .detail .detail-box .right .like .service:before, .detail .detail-box .right .like .service:after {
          content: " ";
          display: table; }
        .detail .detail-box .right .like .service:after {
          clear: both; }
        .detail .detail-box .right .like .service li {
          float: left;
          width: 60px;
          text-align: center; }
        .detail .detail-box .right .like .service .bg {
          display: inline-block;
          width: 39px;
          height: 27px;
          background: url("../img/nrzsy_14.png") no-repeat; }
    .detail .detail-box .center {
      width: 680px;
      margin-right: 10px; }
      .detail .detail-box .center .title {
        background: #fff;
        padding: 10px; }
      .detail .detail-box .center .cont {
        margin: 10px 0;
        padding: 10px;
        line-height: 36px;
        background: #fff; }
        .detail .detail-box .center .cont:before, .detail .detail-box .center .cont:after {
          content: " ";
          display: table; }
        .detail .detail-box .center .cont:after {
          clear: both; }
        .detail .detail-box .center .cont .block:before, .detail .detail-box .center .cont .block:after {
          content: " ";
          display: table; }
        .detail .detail-box .center .cont .block:after {
          clear: both; }
        .detail .detail-box .center .cont .block .block-left {
          width: 280px;
          float: left; }
        .detail .detail-box .center .cont .block .block-right {
          float: left; }
        .detail .detail-box .center .cont .price {
          border-bottom: 1px dashed #e6e6e6; }
          .detail .detail-box .center .cont .price .now-val {
            font-size: 27px;
            color: #c00; }
          .detail .detail-box .center .cont .price .prev-val {
            color: #999;
            text-decoration: line-through; }
          .detail .detail-box .center .cont .price .id-val {
            color: #999; }
        .detail .detail-box .center .cont .info {
          border-bottom: 1px dashed #e6e6e6; }
          .detail .detail-box .center .cont .info .brand-val {
            color: #c00; }
          .detail .detail-box .center .cont .info .weight-val {
            color: #999; }
        .detail .detail-box .center .cont .many .many-val {
          display: inline-block;
          width: 44px;
          height: 22px;
          vertical-align: -5px;
          background: url(../img/stock.png) no-repeat 0px 0px; }
        .detail .detail-box .center .cont .month-sale, .detail .detail-box .center .cont .star {
          color: #f60; }
        .detail .detail-box .center .cont .star img {
          vertical-align: -1px; }
      .detail .detail-box .center .sort .color .select {
        display: inline-block; }
        .detail .detail-box .center .sort .color .select label {
          padding: 0 10px; }
        .detail .detail-box .center .sort .color .select input {
          vertical-align: -2px; }
      .detail .detail-box .center .sort .num {
        vertical-align: middle; }
        .detail .detail-box .center .sort .num .num-val {
          display: inline-block;
          vertical-align: middle; }
          .detail .detail-box .center .sort .num .num-val a {
            display: inline-block;
            text-align: center;
            width: 18px;
            line-height: 18px;
            background: url(../img/jia_jian_icon.png) no-repeat center center; }
          .detail .detail-box .center .sort .num .num-val input {
            width: 52px;
            line-height: 25px;
            border: 1px solid gray;
            border-radius: 3px;
            text-align: center; }
        .detail .detail-box .center .sort .num .tp-val {
          font-size: 16px;
          font-weight: bold;
          color: #c00; }
      .detail .detail-box .center .add-to-shopcar a {
        display: inline-block;
        margin-top: 25px; }

.detail-info {
  width: 1200px;
  margin: 0 auto;
  padding: 10px 0;
  background: #fff; }
  .detail-info:before, .detail-info:after {
    content: " ";
    display: table; }
  .detail-info:after {
    clear: both; }
  .detail-info .sub-left {
    float: left;
    width: 240px; }
    .detail-info .sub-left .rel-link {
      padding: 10px;
      background: #ffe6e6;
      border: 1px solid #ff8b8b; }
      .detail-info .sub-left .rel-link h3 {
        padding: 10px 0 20px;
        color: #d90d0d;
        text-align: center;
        background: #ffe6e6; }
      .detail-info .sub-left .rel-link .cont {
        padding: 10px;
        background: #fff; }
        .detail-info .sub-left .rel-link .cont a {
          display: block; }
        .detail-info .sub-left .rel-link .cont h4 {
          line-height: 36px; }
        .detail-info .sub-left .rel-link .cont ul:before, .detail-info .sub-left .rel-link .cont ul:after {
          content: " ";
          display: table; }
        .detail-info .sub-left .rel-link .cont ul:after {
          clear: both; }
        .detail-info .sub-left .rel-link .cont ul li {
          float: left;
          width: 80px;
          line-height: 25px; }
    .detail-info .sub-left .ad a {
      display: block; }
    .detail-info .sub-left .ad img {
      display: block;
      width: 240px;
      margin: 10px 0; }
  .detail-info .sub-right {
    float: left;
    width: 950px;
    margin-left: 10px; }
    .detail-info .sub-right .tab .tab-nav {
      width: 100%;
      border-bottom: 3px solid #c00; }
      .detail-info .sub-right .tab .tab-nav a {
        display: block;
        width: 110px;
        margin-right: 10px;
        background: url(../img/details_tabt.png) no-repeat center bottom;
        font-size: 14px;
        line-height: 31px;
        text-align: center; }
      .detail-info .sub-right .tab .tab-nav .active {
        color: #fff;
        font-weight: bold;
        background: url(../img/details_tabt_hover.png) no-repeat center bottom; }
    .detail-info .sub-right .tab .tab-panel {
      border: 5px solid #e6e6e6;
      padding: 20px; }
      .detail-info .sub-right .tab .tab-panel img {
        width: 100%; }
    .detail-info .sub-right .comment {
      padding: 10px 0; }
      .detail-info .sub-right .comment .comment-title {
        padding: 0 10px;
        line-height: 38px;
        background: url(../img/wpl_h3_bg.png); }
        .detail-info .sub-right .comment .comment-title:before, .detail-info .sub-right .comment .comment-title:after {
          content: " ";
          display: table; }
        .detail-info .sub-right .comment .comment-title:after {
          clear: both; }
        .detail-info .sub-right .comment .comment-title h4 {
          float: left; }
        .detail-info .sub-right .comment .comment-title p {
          float: right; }
          .detail-info .sub-right .comment .comment-title p span {
            color: #c00; }
      .detail-info .sub-right .comment .comment-cont {
        padding: 10px; }
        .detail-info .sub-right .comment .comment-cont:before, .detail-info .sub-right .comment .comment-cont:after {
          content: " ";
          display: table; }
        .detail-info .sub-right .comment .comment-cont:after {
          clear: both; }
        .detail-info .sub-right .comment .comment-cont .pagination {
          float: right; }
        .detail-info .sub-right .comment .comment-cont .comment-no {
          padding: 20px;
          text-align: center; }
      .detail-info .sub-right .comment .comment-box h4 {
        padding: 0 10px;
        line-height: 38px;
        background: url(../img/wpl_h3_bg.png); }
      .detail-info .sub-right .comment .comment-box .comment-form {
        border: 1px solid #e6e6e6;
        border-top: none;
        line-height: 40px;
        padding: 10px; }
        .detail-info .sub-right .comment .comment-box .comment-form label {
          display: block; }
          .detail-info .sub-right .comment .comment-box .comment-form label span {
            display: inline-block;
            width: 100px;
            text-align: right;
            font-size: 14px;
            font-weight: bold; }
          .detail-info .sub-right .comment .comment-box .comment-form label p {
            display: inline-block; }
          .detail-info .sub-right .comment .comment-box .comment-form label input {
            line-height: 28px;
            border: 1px solid #e5e5e5; }
          .detail-info .sub-right .comment .comment-box .comment-form label textarea {
            height: 92px;
            border: 1px solid #ddd;
            background: url(../img/liuyan_input_bg.png) repeat-x center top;
            width: 442px;
            vertical-align: bottom; }
        .detail-info .sub-right .comment .comment-box .comment-form .submit {
          border: none;
          background: url(../img/liji_btn.png);
          width: 83px;
          height: 27px;
          margin-left: 100px;
          margin-top: 15px;
          color: #fff; }
