.nav .nav-box h2 .left-menu {
  display: block; }

.menu {
  width: 1200px;
  margin: 0 auto; }
  .menu:before, .menu:after {
    content: " ";
    display: table; }
  .menu:after {
    clear: both; }
  .menu .right-menu {
    float: left;
    width: 960px;
    margin-left: 240px;
    line-height: 44px; }
    .menu .right-menu .hot:before, .menu .right-menu .hot:after {
      content: " ";
      display: table; }
    .menu .right-menu .hot:after {
      clear: both; }
    .menu .right-menu .hot h4 {
      float: left;
      padding-left: 20px; }
    .menu .right-menu .hot .right {
      float: right;
      width: 210px; }
      .menu .right-menu .hot .right img {
        vertical-align: -2px; }
      .menu .right-menu .hot .right a {
        color: #c00; }
    .menu .right-menu .banner {
      float: left;
      width: 700px;
      padding-top: 10px;
      padding-left: 10px; }
      .menu .right-menu .banner .banner1 {
        position: relative;
        border: 1px solid #ddd; }
        .menu .right-menu .banner .banner1 a, .menu .right-menu .banner .banner1 img {
          display: block;
          width: 100%;
          height: 228px; }
        .menu .right-menu .banner .banner1 ul {
          height: 228px;
          position: relative; }
          .menu .right-menu .banner .banner1 ul li {
            position: absolute;
            top: 0;
            display: none; }
        .menu .right-menu .banner .banner1 .btn {
          position: absolute;
          right: 5px;
          bottom: 5px; }
          .menu .right-menu .banner .banner1 .btn a {
            float: left;
            width: 25px;
            height: 10px;
            margin-right: 5px;
            background: #666; }
      .menu .right-menu .banner .banner2 {
        font-size: 0;
        margin-top: 10px; }
        .menu .right-menu .banner .banner2 i {
          display: inline-block;
          width: 21px;
          height: 30px;
          margin-top: 47px; }
        .menu .right-menu .banner .banner2 a {
          height: 125px;
          vertical-align: middle;
          display: inline-block; }
          .menu .right-menu .banner .banner2 a:hover {
            background: #f4f4f4;
            border-bottom: none; }
        .menu .right-menu .banner .banner2 .prev:hover i {
          background-position-y: -150px; }
        .menu .right-menu .banner .banner2 .prev i {
          background: url("../img/icon_arrow.png") center -30px no-repeat; }
        .menu .right-menu .banner .banner2 .next:hover i {
          background-position-y: -120px; }
        .menu .right-menu .banner .banner2 .next i {
          background: url("../img/icon_arrow.png") center 0px no-repeat; }
        .menu .right-menu .banner .banner2 .list {
          overflow: hidden;
          position: relative;
          vertical-align: middle;
          display: inline-block;
          width: 658px;
          height: 125px;
          line-height: 0; }
          .menu .right-menu .banner .banner2 .list .list-item {
            position: absolute;
            width: 628px;
            padding-left: 15px;
            padding-right: 15px; }
            .menu .right-menu .banner .banner2 .list .list-item img {
              padding: 1px; }
    .menu .right-menu .information {
      float: left;
      width: 240px;
      padding-top: 10px;
      padding-left: 10px; }
      .menu .right-menu .information .tab-nav a {
        width: 120px;
        line-height: 30px;
        background-color: #f4f4f4;
        text-align: center; }
      .menu .right-menu .information .tab-nav .active {
        color: #fff;
        background-color: #c00;
        font-weight: bold; }
      .menu .right-menu .information .tab-panel {
        width: 230px;
        padding-left: 10px;
        padding-top: 10px;
        line-height: 25px; }
        .menu .right-menu .information .tab-panel li {
          padding-left: 10px;
          background: url("../img/icon01.png") no-repeat left center; }
        .menu .right-menu .information .tab-panel a {
          vertical-align: middle;
          display: inline-block; }
          .menu .right-menu .information .tab-panel a:hover {
            text-decoration: underline; }

.wrap {
  width: 1200px;
  margin: 10px auto 0; }
  .wrap:before, .wrap:after {
    content: " ";
    display: table; }
  .wrap:after {
    clear: both; }
  .wrap .w-left {
    width: 950px;
    float: left; }
    .wrap .w-left .tab-nav {
      line-height: 39px;
      background: #f4f4f4;
      border-bottom: 1px solid #c00;
      margin-bottom: 10px;
      text-align: center; }
      .wrap .w-left .tab-nav a {
        width: 107px;
        font-size: 14px; }
      .wrap .w-left .tab-nav .active {
        width: 220px;
        color: #fff;
        background-color: #c00;
        font-weight: bold; }
      .wrap .w-left .tab-nav p {
        float: left;
        color: #c00;
        padding-left: 35px; }
    .wrap .w-left .tab-panel {
      height: 469px;
      border-left: 1px solid #e6e6e6;
      border-top: 1px solid #e6e6e6; }
    .wrap .w-left .tab-panel ul:before, .wrap .w-left .tab-panel ul:after {
      content: " ";
      display: table; }
    .wrap .w-left .tab-panel ul:after {
      clear: both; }
    .wrap .w-left .tab-panel ul li {
      float: left;
      border-right: 1px solid #e6e6e6;
      border-bottom: 1px solid #e6e6e6; }
      .wrap .w-left .tab-panel ul li a {
        display: block; }
        .wrap .w-left .tab-panel ul li a h3 {
          transition: all 0.5s; }
        .wrap .w-left .tab-panel ul li a:hover h3 {
          color: #c00;
          text-decoration: underline; }
      .wrap .w-left .tab-panel ul li img {
        display: block;
        height: 160px;
        margin: 0 auto; }
    .wrap .w-left .panel1 li {
      width: 295px;
      height: 214px;
      padding: 10px; }
    .wrap .w-left .panel1 .price {
      margin-top: 8px;
      text-align: right; }
    .wrap .w-left .panel1 .now {
      font-size: 25px;
      line-height: 30px;
      color: #f44661; }
    .wrap .w-left .panel1 .off {
      color: #fff;
      background-color: #808080;
      border-radius: 3px;
      padding: 0 5px;
      margin: 0 7px; }
    .wrap .w-left .panel1 .prev {
      color: gray;
      text-decoration: line-through; }
    .wrap .w-left .panel2 {
      text-align: center; }
      .wrap .w-left .panel2 li {
        width: 188.8px;
        height: 232px;
        padding: 0; }
      .wrap .w-left .panel2 .now {
        font-size: 25px;
        line-height: 30px;
        color: #f44661; }
      .wrap .w-left .panel2 h3, .wrap .w-left .panel2 .price {
        margin: 10px 0; }
      .wrap .w-left .panel2 .sp {
        width: 568.4px;
        height: 232px;
        padding: 0; }
        .wrap .w-left .panel2 .sp img {
          width: 100%;
          height: 232px; }
  .wrap .w-right {
    width: 240px;
    float: right; }
    .wrap .w-right .title {
      line-height: 39px;
      background: #f4f4f4;
      border-bottom: 1px solid #c00;
      margin-bottom: 10px; }
      .wrap .w-right .title:before, .wrap .w-right .title:after {
        content: " ";
        display: table; }
      .wrap .w-right .title:after {
        clear: both; }
      .wrap .w-right .title h3 {
        padding-left: 10px;
        float: left; }
      .wrap .w-right .title a {
        padding-right: 10px;
        float: right; }
        .wrap .w-right .title a:hover {
          color: #c00;
          text-decoration: underline; }
    .wrap .w-right .content a {
      display: block;
      text-align: center; }
      .wrap .w-right .content a:hover {
        border-bottom: none;
        color: #c00;
        text-decoration: underline; }
      .wrap .w-right .content a img {
        padding: 10px 0; }
    .wrap .w-right .content p {
      font-size: 14px;
      line-height: 34px;
      margin-bottom: 10px; }
    .wrap .w-right .content .score {
      padding: 10px;
      margin-bottom: 6px;
      background-color: #FAA4B1;
      line-height: 30px; }
      .wrap .w-right .content .score:before, .wrap .w-right .content .score:after {
        content: " ";
        display: table; }
      .wrap .w-right .content .score:after {
        clear: both; }
      .wrap .w-right .content .score span {
        font-size: 18px;
        font-weight: bold;
        color: #fff; }
      .wrap .w-right .content .score .s1 {
        float: left; }
      .wrap .w-right .content .score .s2 {
        padding-right: 30px;
        float: right;
        background: url("../img/icon_arrow.png") no-repeat right -60px; }
    .wrap .w-right .brands a {
      display: block; }
      .wrap .w-right .brands a:hover {
        border-bottom: none; }
    .wrap .w-right .brands ul:before, .wrap .w-right .brands ul:after {
      content: " ";
      display: table; }
    .wrap .w-right .brands ul:after {
      clear: both; }
    .wrap .w-right .brands ul li {
      float: left; }
      .wrap .w-right .brands ul li img {
        border: 1px solid #e6e6e6;
        width: 118px;
        height: 43.5px; }

.stair {
  width: 1200px;
  margin: 0 auto; }
  .stair .floor .floor-2 {
    border-bottom-color: #e2cca3 !important; }
    .stair .floor .floor-2 h3 {
      background-color: #e2cca3 !important; }
    .stair .floor .floor-2 .tab-nav li .active {
      background-color: #e2cca3 !important; }
  .stair .floor .floor-3 {
    border-bottom-color: #acdec1 !important; }
    .stair .floor .floor-3 h3 {
      background-color: #acdec1 !important; }
    .stair .floor .floor-3 .tab-nav li .active {
      background-color: #acdec1 !important; }
  .stair .floor .floor-4 {
    border-bottom-color: #d5b5e4 !important; }
    .stair .floor .floor-4 h3 {
      background-color: #d5b5e4 !important; }
    .stair .floor .floor-4 .tab-nav li .active {
      background-color: #d5b5e4 !important; }
  .stair .floor .floor-5 {
    border-bottom-color: #f3b5b8 !important; }
    .stair .floor .floor-5 h3 {
      background-color: #f3b5b8 !important; }
    .stair .floor .floor-5 .tab-nav li .active {
      background-color: #f3b5b8 !important; }
  .stair .floor .floor-6 {
    border-bottom-color: #e2cca3 !important; }
    .stair .floor .floor-6 h3 {
      background-color: #e2cca3 !important; }
    .stair .floor .floor-6 .tab-nav li .active {
      background-color: #e2cca3 !important; }
  .stair .floor .floor-7 {
    border-bottom-color: #9cd8e0 !important; }
    .stair .floor .floor-7 h3 {
      background-color: #9cd8e0 !important; }
    .stair .floor .floor-7 .tab-nav li .active {
      background-color: #9cd8e0 !important; }
  .stair .floor .floor-title {
    line-height: 39px;
    border-bottom: 1px solid #9cd8e0;
    background-color: #f4f4f4;
    margin-top: 10px;
    margin-bottom: 10px; }
    .stair .floor .floor-title:before, .stair .floor .floor-title:after {
      content: " ";
      display: table; }
    .stair .floor .floor-title:after {
      clear: both; }
    .stair .floor .floor-title h3 {
      float: left;
      width: 150px;
      padding-left: 40px;
      margin-right: 50px;
      font-size: 18px;
      font-weight: bold;
      color: #fff;
      background-color: #9cd8e0; }
    .stair .floor .floor-title .tab-nav {
      float: left; }
      .stair .floor .floor-title .tab-nav li {
        width: 106px;
        line-height: 39px;
        color: #444;
        font-size: 14px;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center; }
        .stair .floor .floor-title .tab-nav li .active {
          color: #fff;
          background-color: #9cd8e0; }
    .stair .floor .floor-title .other-link {
      float: right; }
      .stair .floor .floor-title .other-link li {
        float: left; }
        .stair .floor .floor-title .other-link li a {
          margin: 0 8px; }
          .stair .floor .floor-title .other-link li a:hover {
            color: #c00; }
  .stair .floor .floor-left {
    float: left;
    width: 240px; }
    .stair .floor .floor-left .ad {
      display: block; }
      .stair .floor .floor-left .ad img {
        width: 238px;
        height: 310px;
        border: 1px solid #e6e6e6; }
    .stair .floor .floor-left .question {
      height: 144px;
      margin-top: 10px;
      border: 1px solid #e6e6e6; }
      .stair .floor .floor-left .question li {
        line-height: 29px;
        padding: 0 10px;
        font-size: 14px; }
        .stair .floor .floor-left .question li a:hover {
          color: #c00;
          text-decoration: underline; }
        .stair .floor .floor-left .question li a img {
          margin-right: 5px;
          vertical-align: -4px; }
  .stair .floor .tab-content {
    margin-left: 250px;
    margin-right: 200px; }
    .stair .floor .tab-content .tab-panel {
      border-top: 1px solid #e6e6e6;
      border-left: 1px solid #e6e6e6; }
      .stair .floor .tab-content .tab-panel ul:before, .stair .floor .tab-content .tab-panel ul:after {
        content: " ";
        display: table; }
      .stair .floor .tab-content .tab-panel ul:after {
        clear: both; }
      .stair .floor .tab-content .tab-panel li {
        float: left;
        width: 166.25px;
        padding: 10px;
        text-align: center;
        border-right: 1px solid #e6e6e6;
        border-bottom: 1px solid #e6e6e6; }
      .stair .floor .tab-content .tab-panel p {
        line-height: 25px;
        margin-top: 8.5px; }
      .stair .floor .tab-content .tab-panel span {
        font-size: 16px;
        color: #c00; }
      .stair .floor .tab-content .tab-panel a:hover p {
        color: #c00;
        text-decoration: underline; }
  .stair .floor .floor-right {
    float: right;
    width: 188px;
    border: 1px solid #e6e6e6; }
    .stair .floor .floor-right a {
      display: block; }
      .stair .floor .floor-right a:hover {
        border-bottom: none;
        opacity: 0.5; }
      .stair .floor .floor-right a img {
        width: 188px;
        height: 91.55px; }

.info {
  width: 1200px;
  margin: 10px auto; }
  .info:before, .info:after {
    content: " ";
    display: table; }
  .info:after {
    clear: both; }
  .info .info-left {
    float: left;
    width: 240px; }
    .info .info-left .first {
      padding: 10px 0;
      margin: 0 10px;
      border-bottom: 1px solid #dedede; }
      .info .info-left .first:before, .info .info-left .first:after {
        content: " ";
        display: table; }
      .info .info-left .first:after {
        clear: both; }
      .info .info-left .first a:hover {
        color: #c00;
        text-decoration: underline; }
      .info .info-left .first img {
        float: left;
        width: 63px;
        height: 63px;
        border: 1px solid #dedede;
        margin-right: 10px; }
      .info .info-left .first h4 {
        color: #c00;
        line-height: 20px; }
      .info .info-left .first p {
        padding: 5px 0; }
    .info .info-left ul {
      padding-left: 10px; }
      .info .info-left ul li {
        padding-left: 10px;
        line-height: 24px;
        background: url(../img/icon01.png) no-repeat left center; }
        .info .info-left ul li a:hover {
          text-decoration: underline; }
        .info .info-left ul li a:hover span {
          color: #c00; }
  .info .info-right {
    float: right;
    width: 190px; }
    .info .info-right ul {
      padding: 10px 0 0 10px; }
      .info .info-right ul li {
        line-height: 24px; }
        .info .info-right ul li a:hover {
          color: #c00; }
  .info .info-center {
    margin-left: 250px;
    margin-right: 200px; }
    .info .info-center .content {
      vertical-align: top; }
      .info .info-center .content:before, .info .info-center .content:after {
        content: " ";
        display: table; }
      .info .info-center .content:after {
        clear: both; }
      .info .info-center .content a {
        display: inline-block; }
        .info .info-center .content a:hover {
          color: #c00;
          text-decoration: underline; }
      .info .info-center .content img {
        margin: 10px; }
      .info .info-center .content dl {
        display: inline-block;
        width: 256px;
        margin: 10px;
        vertical-align: top;
        text-align: center; }
        .info .info-center .content dl h4 {
          margin-top: 5px;
          color: #c00;
          font-size: 14px;
          line-height: 36px; }
        .info .info-center .content dl dd {
          line-height: 21px;
          padding-bottom: 20px;
          border-bottom: 1px dashed #dedede; }
      .info .info-center .content ul {
        margin: 10px;
        display: inline-block;
        vertical-align: top;
        width: 214px; }
        .info .info-center .content ul li {
          line-height: 26px; }
  .info .title {
    padding-left: 10px;
    line-height: 39px;
    background-color: #f4f4f4;
    border-bottom: 1px solid #c00; }
  .info .content {
    border: 1px solid #dedede;
    border-top: none;
    height: 231px; }
