.top {
  height: 40px;
  background: #f2f2f2;
  border-bottom: 3px solid #e7e7e7; }
  .top .cont {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    line-height: 40px;
    text-align: center; }
    .top .cont:before, .top .cont:after {
      content: " ";
      display: table; }
    .top .cont:after {
      clear: both; }
    .top .cont .title {
      float: left;
      font-size: 12px;
      font-weight: bold; }
    .top .cont .login {
      float: left;
      padding-left: 21px; }
      .top .cont .login a {
        color: #c00;
        margin-left: 5px;
        margin-right: 5px; }
    .top .cont .top-nav {
      float: right; }
      .top .cont .top-nav ul:before, .top .cont .top-nav ul:after {
        content: " ";
        display: table; }
      .top .cont .top-nav ul:after {
        clear: both; }
      .top .cont .top-nav ul li {
        float: left;
        padding-left: 10px;
        padding-right: 10px; }
        .top .cont .top-nav ul li span {
          color: #c00;
          font-weight: bold; }
      .top .cont .top-nav ul .main a {
        color: #c00; }

.head {
  width: 1200px;
  margin-left: auto;
  margin-right: auto; }
  .head:before, .head:after {
    content: " ";
    display: table; }
  .head:after {
    clear: both; }
  .head a:hover {
    border-bottom: none; }
  .head .logo a {
    float: left; }
  .head .search {
    float: left;
    padding-left: 24px;
    padding-top: 33px; }
    .head .search .search-box {
      border: 1px solid #c00; }
      .head .search .search-box:before, .head .search .search-box:after {
        content: " ";
        display: table; }
      .head .search .search-box:after {
        clear: both; }
      .head .search .search-box input {
        height: 29px;
        line-height: 29px;
        float: left;
        border: none; }
      .head .search .search-box .s-input {
        width: 389px;
        padding-left: 10px;
        outline: none; }
      .head .search .search-box .s-btn {
        width: 78px;
        font-weight: bold;
        color: #fff;
        background-color: #c00; }
    .head .search .hot {
      line-height: 25px; }
      .head .search .hot span {
        display: inline-block;
        vertical-align: top; }
      .head .search .hot ul {
        vertical-align: top;
        display: inline-block; }
        .head .search .hot ul:before, .head .search .hot ul:after {
          content: " ";
          display: table; }
        .head .search .hot ul:after {
          clear: both; }
        .head .search .hot ul li {
          float: left;
          padding: 0 5px; }
  .head .link {
    width: 453px;
    float: left;
    padding-top: 30px; }
    .head .link .list1:before, .head .link .list1:after {
      content: " ";
      display: table; }
    .head .link .list1:after {
      clear: both; }
    .head .link .list1 li {
      float: left;
      line-height: 30px; }
      .head .link .list1 li i {
        display: inline-block;
        width: 37px;
        height: 30px;
        background: url(../img/icon_ts.png) 0 0 no-repeat;
        vertical-align: middle; }
      .head .link .list1 li .bg2 {
        background-position-x: -40px; }
      .head .link .list1 li .bg3 {
        background-position-x: -120px; }
      .head .link .list1 li span {
        font-size: 14px;
        font-weight: bold;
        color: #c00;
        border-bottom: 1px solid;
        padding-right: 6px; }
    .head .link .list2 {
      width: 316px;
      height: 34px;
      margin-top: 10px;
      float: right;
      background-image: url("../img/icon_haiwai.png"); }
      .head .link .list2 li {
        float: left; }
        .head .link .list2 li a {
          display: block;
          width: 150px;
          height: 34px; }

.nav {
  background-color: #c00; }
  .nav a {
    color: #fff; }
    .nav a:hover {
      border-bottom: none; }
  .nav .nav-box {
    width: 1200px;
    height: 40px;
    margin: 0 auto;
    color: #fff;
    line-height: 40px;
    vertical-align: top; }
    .nav .nav-box h2 {
      display: inline-block;
      vertical-align: middle;
      width: 240px;
      padding-left: 17px;
      padding-right: 10px;
      font-size: 14px; }
      .nav .nav-box h2:before, .nav .nav-box h2:after {
        content: " ";
        display: table; }
      .nav .nav-box h2:after {
        clear: both; }
      .nav .nav-box h2 i {
        float: right;
        font-weight: normal; }
    .nav .nav-box .nav-ul {
      display: inline-block;
      vertical-align: middle;
      font-size: 15px;
      font-weight: bold; }
      .nav .nav-box .nav-ul:before, .nav .nav-box .nav-ul:after {
        content: " ";
        display: table; }
      .nav .nav-box .nav-ul:after {
        clear: both; }
      .nav .nav-box .nav-ul li {
        float: left;
        padding-left: 15px;
        padding-right: 15px; }
    .nav .nav-box .shop-car {
      float: right;
      padding-right: 30px; }
      .nav .nav-box .shop-car a i {
        display: inline-block;
        vertical-align: -2px;
        width: 21px;
        height: 13px;
        margin-right: 4px;
        background-image: url("../img/icon-common.png");
        background-position: -287px -53px; }
