.position {
  @include clearfix;
  width: $w;
  margin: 0 auto;
  line-height: 44px;
  .label {
    float: left;
    padding: 0 10px;
    font-weight: bold;
  }
  ul {
    float: left;
    li {
      float: left;
    }
  }
}