@import 'util';

body {
  color: $main-color;
  font-size: $font12;
}
a {
  transition: all 0.5s;
  color: $main-color;
  text-decoration: none;
  &:hover {
    color: $red;
  }
}
ul { list-style: none; }
ul, 
li, 
input,
h1, h2, h3, h4, h5, h5, h6, p, dl, dt, dd,
i {
  margin: 0;
  padding: 0;
}
i { font-style: normal; }

.tab {
  .tab-nav {
    @include clearfix;
    li {
      float: left;
      a {
        display: block;
      }
    }
  }
  .tab-content {
    position: relative;
    .tab-panel {
      position: relative;
      top: 0;
      left: 0;
      display: none;
    }
  }
}
// 引入框架
@import 'frame';