@import 'var';
@import 'util';

body {
  color: $main-color;
  font-size: $font12;
}
a {
  transition: color 0.5s;
  color: $main-color;
  text-decoration: none;
  &:hover {
    // text-decoration: underline;
    border-bottom: 1px solid;
  }
}
ul { list-style: none; }
ul, 
li, 
input,
h1, h2, h3, h4, h5, h5, h6, p,
i {
  margin: 0;
  padding: 0;
}
i { font-style: normal; }

.tab {
  .tab-nav {
    @include clearfix;
    li {
      float: left;
      a {
        display: block;
        &:hover {
          border-bottom: none;
        }
      }
    }
  }
  .tab-content {
    position: relative;
    .tab-panel {
      position: relative;
      top: 0;
      left: 0;
      display: none;
    }
  }
}